

body{
    background-color: rgb(149, 159, 159);
   
}
.container{
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto  auto;
    grid-template-rows: auto auto ;
    min-width: 390px;
    max-width: 1700px;
    
    
}

.header{
    text-align: center;
    background-color: rgb(58, 57, 57);
    color: white;   
    grid-column: 1 /span 4;
    padding:10px 0px 10px 10px ;
    font-style: italic;
    font-size: 25px;
        
    }
#pic{
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
   
}
.img{
    
    border:3px solid black;
    padding: 5px 0px 10px 0px;
    float: left;
 
 
}
.container2{
grid-area: 2/2 ;
padding-left: 10px;
border: 3px solid black;
font-weight: bold;
min-width: fit-content;




}
.info{
    padding: 10px;
    padding-left: 15px;

}
.sec1{
    color: rgb(2, 107, 177);
    
}
.sec2{
    color: rgb(255, 211, 141);
    text-shadow: 5px 9px 2px #153448;
}
.footer{
   
    display: flex ;
    justify-content: center;
    align-content: center;
    border: 3px solid black;
    font-weight: bold;
    padding: 10px;
    min-width: fit-content;
    
    

}
.footer>.sec1{
    padding:0 30px 30px 30px ;
    
}
.bi{
    animation: myAnim 2s ease 0s 1 normal forwards;
    -webkit-animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
.CERTIFICAT{
    cursor: pointer;
    
   
}
a:hover {
    color: blue;
    background-color: transparent;
   
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
